body {
    margin: 0 auto;
    font-family: sans-serif !important;
}

#root {
    background-color: #eeeeee !important;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #757575;
    cursor: pointer;
}